<div class="example-wrapper">
    <div>
        <div class="button-group">
            <button (click)="saveFilterModel()">Save Filter Model</button>
            <button (click)="restoreFilterModel()">
                Restore Saved Filter Model
            </button>
            <button
                    (click)="restoreFromHardCoded()"
                    title="Name = 'Mich%', Country = ['Ireland', 'United States'], Age < 30, Date < 01/01/2010"
            >
                Set Custom Filter Model
            </button>
            <button (click)="clearFilters()">Reset Filters</button>
            <button (click)="destroyFilter()">Destroy Filter</button>
        </div>
    </div>
    <div>
        <div class="button-group">
            Saved Filters: <span id="savedFilters">(none)</span>
        </div>
    </div>

    <ag-grid-angular
        #agGrid
        style="width: 800px; height: 500px;"
        id="myGrid"
        class="ag-theme-alpine"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [rowData]="rowData"
        (gridReady)="onGridReady($event)"
    ></ag-grid-angular>
</div>
